<% provide(:title, "Single Blog Right Sidebar") %>
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2>Blog Single sidebar</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li class="active">Blog Single sidebar</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="mainContent clearfix blogPage singleBlog">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8 col-md-push-3 col-sm-push-4 col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="thumbnail">
              <%= image_tag("img/blog/blog-01.jpg", :alt => "blog-image") %>
              <div class="caption">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3>記事タイトル </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
                      omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                      ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                      velit esse cillum dolore eu fugiat nulla pariatur. </p>

                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                      id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                      architecto beatae vitae dicta sunt explicabo. </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                      velit esse cillum dolore eu fugiat nulla pariatur. </p>

                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                      id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                      architecto beatae vitae dicta sunt explicabo. </p>
                  </div>
                </div>
              </div>
              <ul class="pager">
                <li class="previous"><a href="#">前の記事へ</a></li>
                <li class="next"><a href="#">次の記事へ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-md-pull-9 col-sm-pull-8 col-xs-12 sideBar">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
          <a href="#" class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></a>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">カテゴリー</div>
          <div class="panel-body">
            <ul class="list-unstyle sidebar-list">
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>アクセサリー <span>(6)</span></a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>バッグ <span>(6)</span></a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>洋服 <span>(25)</span></a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>ベッド &amp; バス <span>(2)</span></a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>スイミング <span>(5)</span></a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>スポーツウェア &amp; シューズ <span>(3)</span></a></li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default recentBlogPosts">
          <div class="panel-heading">最新記事</div>
          <div class="panel-body">
            <div class="media">
              <a class="media-left" href="blog_single_right_sidebar.html">
                <%= image_tag("img/blog/blog-small-01.jpg", :class => "media-object", :alt => "Image") %>
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="blog_single_right_sidebar.html">記事タイトル（20文字）</a></h4>
                <p><i class="fa fa-calendar" aria-hidden="true"></i>2016/5/5</p>
              </div>
            </div>
            <div class="media">
              <a class="media-left" href="blog_single_right_sidebar.html">
                <%= image_tag("img/blog/blog-small-02.jpg", :class => "media-object", :alt => "Image") %>
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="blog_single_right_sidebar.html">記事タイトル（20文字）</a></h4>
                <p><i class="fa fa-calendar" aria-hidden="true"></i>2016/5/5</p>
              </div>
            </div>
            <div class="media">
              <a class="media-left" href="blog_single_right_sidebar.html">
                <%= image_tag("img/blog/blog-small-03.jpg", :class => "media-object", :alt => "Image") %>
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="blog_single_right_sidebar.html">記事タイトル（20文字）</a></h4>
                <p><i class="fa fa-calendar" aria-hidden="true"></i>2016/5/5</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>