<% provide(:title, @taxon.name ) %>
<%= render "light_section", { taxon: @taxon} %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render "side_bar", { taxonomies: @taxonomies} %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "filter_area" %>
        <%= render :partial => "products_area", :collection => @products, as: :product %>
      </div>
    </div>
  </div>
</section>
<%= render "partners_logo" %>
<%= render "layouts/product_quick_view_modal" %>