<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
</head>
<body>
  <div class="main-wrapper">
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <%= render "layouts/login_modal" %>
    <%= render "layouts/product_quick_view_modal" %>
    <%= render "layouts/sign_up_modal" %>
    <%= javascript_include_tag 'application' %>
  </div>  
</body>
</html>